
.vs/Quartz.2010/v15/Server/sqlite3/db.lock
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide-shm
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide-wal
.vs/Quartz.2010/v15/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Quartz.2010.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
