
.vs/Quartz.2010/v15/Server/sqlite3/db.lock
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide-shm
.vs/Quartz.2010/v15/Server/sqlite3/storage.ide-wal
.vs/Quartz.2010/v15/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Quartz.2010.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.gitattributes
obj/Debug/Quartz.2010.csproj.CoreCompileInputs.cache
obj/Debug/Quartz.2010.csproj.FileListAbsolute.txt
obj/Debug/Quartz.dll
obj/Debug/Quartz.pdb
obj/Release/Quartz.2010.csproj.CopyComplete
obj/Release/Quartz.2010.csproj.CoreCompileInputs.cache
obj/Release/Quartz.2010.csproj.FileListAbsolute.txt
obj/Release/Quartz.2010.csprojResolveAssemblyReference.cache
obj/Release/Quartz.dll
obj/Release/Quartz.pdb
*.cache
packages.config
Quartz.2010.csproj.user
